<app-navbar></app-navbar>
<div class="container">
  <div class="starter-template">
      <h1>Gavagai Sentiment Visualization</h1>
      <p class="lead">Please click the 'Analyze' button to analyze your text.<br></p>
      <app-upload-file></app-upload-file>
      <button type="button" class="btn btn-primary analyze" (click)="analyze($event)" [disabled]="showAnalysis">Analyze</button>
      <div class="row">
        <div class="chartA col-md-6">
            <h4 *ngIf="chartA">Text A</h4>
            <app-chart *ngIf="chartA" [text]="chartA" ></app-chart>
        </div>
        <div class="chartB col-md-6">
            <h4 *ngIf="chartB">Text B</h4>
            <app-chart *ngIf="chartB" [text]="chartB"></app-chart>
        </div>
      </div>
  </div>
</div>